body{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Trebuchet MS', sans-serif;
    color: #f3f3f3;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #02d08f;    
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #02d08f;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{    
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 9.2px;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo {
    background-color: #005c3f;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23.8%;
  }

.redes-sociais .curriculo{
    background-color: #06c185;
}

.redes-sociais .curriculo img {
    width: 25px;
    height: 25px;
  }

.redes-sociais .linkedin {
    background-color: #6c205f;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23.8%;
  }

.redes-sociais .linkedin{
    background-color: #ee3acf;
}

.redes-sociais .linkedin img {
    width: 25px;
    height: 25px;
  }

.redes-sociais .github {
    background-color: #003c5a;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25.7%;
  }

.redes-sociais .github{
    background-color: #1d87bd;
}

.redes-sociais .github img {
    width: 25px;
    height: 25px;
  }

.meus-projetos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
  }
  
  .meus-projetos li a {
    width: 250px;
    color: #F3F3F3;
    padding: 11.7px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .meus-projetos .projeto {
    background-color: #00444e;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .meus-projetos .projeto:hover {
    background-color: #32c4d5;
  }
  
  .meus-projetos .projeto img {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 83%;
  }
  